@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* HEADER */

.title {
  align-items: center;
  display: flex;
  color: #d5e1df;
  text-shadow: 0.1em 0.1em 0.6em black;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Bungee', cursive;
  font-size: 4.5em;
}

.header {
  background-image: url("./Media/dark\ dirty.png");
  background-position: 10px;
  height: 150px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  height: 120px;
  width: 180px;
  margin-right: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 8px rgba(0 0 0 / 90%));
}

.github {
  width: 60px;
  
}

.linkedin {
  width: 60px;
}

.name-and-class {
  height: 100px;
  width: 180px;
  margin-left: 15px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 8px rgba(0 0 0 / 90%));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name {
  border-radius: 10px;
  padding: 0px;
  margin: 0px;;
  color: white;
  font-size: 25px;
}

.class {
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
  color: white;
  font-size: 25px;
}

/*-------*/

/* TIMER */

.main-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timer {
  margin-top: 80px;
  width: 25%;
  height: 350px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start-btn {
  background-color: #7CBB00;
  border-radius: 15px;
  width: 150px;
  height: 70px;
  font-family: 'Bungee', cursive;
  font-size: 25px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 6px rgba(0 0 0 / 90%));
}

.finish-btn {
  background-color: #E50914;
  font-family: 'Bungee', cursive;
  font-size: 25px;
  border-radius: 15px;
  width: 150px;
  height: 70px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 6px rgba(0 0 0 / 90%));
}

.start-inputs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 6px rgba(0 0 0 / 90%));
  
}

.minutes-input {
  background-image: url("./Media/grass.webp");
  background-size: 1000px;
  border: none;
  -webkit-text-stroke: 1px white;
  font-family: 'Anton', sans-serif;
  padding-left: 15px;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  width: 90px;
  height: 115px;
  font-size: 80px;
}

.two-points {
  font-family: 'Anton', sans-serif;
  margin-bottom: 20px;
  width: 20px;
  height: 100px;
  -webkit-text-stroke: 1px white;
  font-size: 80px;
}

.seconds-input {
  background-image: url("./Media/grass.webp");
  background-size: 1000px;
  -webkit-text-stroke: 1px white;
  border: none;
  font-family: 'Anton', sans-serif;
  padding-left: 15px;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  width: 90px;
  height: 115px;
  font-size: 80px;
}

.running-inputs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 6px rgba(0 0 0 / 90%));
}

.minutes-started {
  background-image: url("./Media/grass.webp");
  background-size: 1000px;
  font-family: 'Anton', sans-serif;
  -webkit-text-stroke: 1px white;
  padding-bottom: 35px;
  padding-left: 15px;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  width: 90px;
  height: 80px;
  font-size: 80px;
}

.two-points-started {
  font-family: 'Anton', sans-serif;
  margin-bottom: 20px;
  width: 20px;
  -webkit-text-stroke: 1px white;
  height: 100px;
  font-size: 80px;
}

.seconds-started {
  background-image: url("./Media/grass.webp");
  background-size: 1000px;
  font-family: 'Anton', sans-serif;
  padding-bottom: 35px;
  -webkit-text-stroke: 1px white;
  padding-left: 15px;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  width: 90px;
  height: 80px;
  font-size: 80px;
}

.time-is-over {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  color: #d5e1df;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)); 
  filter: drop-shadow(0px 0px 6px rgba(0 0 0 / 90%));
}

/*-----*/

/* FOOTER */

.Footer {
  background-image: url("./Media/dark\ dirty.png");
  background-position: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7.5rem; 
}

@media(max-width: 800px) {
  .title {
    font-size: 2.5em;
  }
  .header {
    height: 100px;
  }

  .Footer {
    height: 100px; 
  }
  
  .social-links {
    height: 100px;
    width: 20%;
    justify-content: space-evenly;
  }
  
  .github {
    width: 40px;
  }
  
  .linkedin {
    width: 40px;
  }
  
  .name-and-class {
    width: 20%;
  }
  
  .name {
    font-size: 15px;
  }
  
  .class {
    font-size: 15px;
  }
}

@media(max-width: 800px) {
  .title {
    font-size: 2em;
  }
  .header {
    height: 100px;
  }

  .Footer {
    height: 100px; 
  }
  
  .social-links {
    height: 100px;
    width: 20%;
    flex-direction: row;
    justify-content: center;
  }
  
  .github {
    width: 30px;
  }
  
  .linkedin {
    width: 30px;
  }
  
  .name-and-class {
    width: 20%;
  }
  
  .name {
    font-size: 10px;
  }
  
  .class {
    font-size: 10px;
  }
}